body,
div,
fieldset,
legend,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
li,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
figure,
figcaption,
p {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  border: 0;
  box-sizing: border-box;
  font-family: '黑体', sans-serif,-apple-system-font,Helvetica Neue,Helvetica,sans-serif,'iconfont';
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.cube-btn{
  padding: inherit!important;
  border-radius: 3px;
  height: 42px;
}

.btn-cancel{
  background-color: #EEE!important;
  color: #fff!important;
}

.btn-agree{
  background-color: #32a0f0!important;
}

.btn-reject{
  background-color: #ff6666!important;
}

.btn-consult{
  background-color: #DBA01f !important;
}

.btn-file{
  background-color: #4ea96e !important;
}

body,
html {
  /* // height: 100%; */
  width: 100%;
  color: #333333;
}

/*
 * 百分比布局
 */
/*
html {
  font-size: 50px;
}
body {
  font-size: 16px;
}*/
